body {
background: hsl(51, 56%, 76%);

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding: 0px;
margin: 0px;
}

header {

    background-image: url("images/header-background.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    
    }
    div ~ h1 {
        text-align: center;
        padding-top: 4em;
      }

    h1 {
        display: block;
        font-size: 4em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
        text-shadow: 2px 2px #ffffff;
        color: rgb(56, 15, 68);
      }
      